.section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  background-color: #FAFAFA;
}

.section__text {
  top: 54px;
  z-index: 1;
  position: absolute;
  left: 50%;
}

.section__text h2 {
  line-height: 38px;
  font-weight: 500;
  color: #333;
}

.section__text span {
  font-size: 16px;
  line-height: 20px;
  color: #333;
}

.section__badge {
    display: flex;
}

.section__badge figure {
    display: flex;
    padding: 0px;
    margin: 16px 16px 0px 0px;
}

.section__badge figure img {
   width: 190px;
   height: 56px;
}

.section__bottom img{
    display: flex;
    height: 450px;
    position: relative;
    width:1920px;
    padding-top: 30px;
    margin: 0px;
    overflow: hidden;
}

@media (max-width: 1024px) {
.section {
    padding-top: 0;
}
.section__text {
    position: relative;
    left: 0;
    text-align: center;
}
.section__badge {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 30px;
}

.section__text span {
    font-size: 20px;
    line-height: 20px;
    color: #333;
  }

.section__bottom {
    height: 450px;
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    padding-top: 70px;
}

}