.search-container {
    font-size: 38px;
    color: #333;  
    width: 592px;
}

.search-container__text {
    text-align: center;
}
.search-container span{
    font-weight: 700;
}

.search-container__actions {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1024px) {
    .search-container {
        font-size: 36px;
        width: 330px;  
    }
}